doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/logo.png", type="image/x-icon")
        title Ремонт карданных валов
    body
        header.header 
            .header-logo
                 img(src="./assets/images/content/logo.png", alt="")
                 .logo-caption Кардан сервис
            .header-navigation 
                a(href="./services.html").navigation-link Услуги
                a(href="./shop.html").navigation-link Магазин
                a(href="./contacts.html").navigation-link Контакты
            .header-custom
                .custom-cart
                    a.cart-image
                    span.cart-amount 0
                .custom-button Оставить заявку
        main.main
            .greeting-section
                .greeting-section--red 
                    .greeting-header Кардан-сервис
                    .greeting-subheader Ремонт и изготовление карданных валов
                    a(href="#menu").greeting-more Узнать больше 
                .greeting-section--rest 
                    .greeting-square
                        .company-phone
                            .phone-header 
                                img(src="./assets/images/content/phoneCall.svg", alt="")
                                span Звоните нам
                            .phone-number +7 (3952) 66‑22-42
                        .company-adress
                            .adress-header 
                                img(src="./assets/images/content/mapMarker.svg", alt="")
                                span Мы здесь
                            .adress-number Г. ИРКУТСК, УЛ.СУРНОВА, 22/7
            .menu-section 
                .menu-header Услуги
                .menu-navigatiom
                    .navigation-tab.tab-cardan 
                        img.img-cardan.img-active(src="./assets/images/content/cardan.svg", alt="")
                        
                        .tab-header.tab-active Ремонт карданов
                    .navigation-tab.tab-turbo 
                        img.img-turbo(src="./assets/images/content/turbo.svg", alt="")
                        .tab-header Ремонт турбин
                    .navigation-tab.tab-rotor 
                        img.img-rotor(src="./assets/images/content/rotor.svg", alt="")
                        .tab-header Балансировка ротов
                    .navigation-tab.tab-treat 
                        img.img-treat(src="./assets/images/content/treat.svg", alt="")
                        .tab-header Механическая обработка
            .show-section
                .show--gray
                .show-container.show--cardan
                    .show-description 
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .show-box 
                        img(src="./assets/images/content/main-second.jpg", alt="").show-image
                        a(href="./cardan.html").show-more Узнать больше
            .offer-section 
                .offer-header Что мы предлагаем
                .offer-subheader Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .offer-container 
                    .offer-row 
                        .offer-card 
                            .card-number 01
                            .card-header Заголовок
                            ul.card-list 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit
                            a(href="./cardan.html").card-more
                        .offer-image 
                        .offer-card 
                            .card-number 03
                            .card-header Заголовок
                            ul.card-list 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                            a(href="./cardan.html").card-more
                    .offer-row 
                        .offer-image 
                        .offer-card 
                            .card-number 02
                            .card-header Заголовок
                            ul.card-list 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit  
                            a(href="./cardan.html").card-more
                        .offer-image  
            .apply-section
                .apply-container 
                    .apply-header Оставить заявку прямо сейчас
                    .apply-subheader Нам менеджер свяжется с вами в рабочее время
                .apply-form
                    input(type="text", name="userName", required, placeholder="Ваше имя").apply-form__input
                    input(type="text", name="userPhone", required, placeholder="Ваш телефон").apply-form__input
                    button(type="submit").apply-form__button Отправить
        footer.footer
        script(src="./assets/js/jquery.min.js")
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js")
                 
