doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/logo.png", type="image/x-icon")
        title Ремонт карданных валов
    body
        header.header 
            .header-logo
                 img(src="./assets/images/content/logo.png", alt="")
                 .logo-caption Кардан сервис
            .header-navigation 
                a(href="./services.html").navigation-link Услуги
                a(href="./shop.html").navigation-link Магазин
                a(href="./contacts.html").navigation-link Контакты
            .header-custom
                .custom-cart
                    a.cart-image
                    span.cart-amount 0
                .custom-button Оставить заявку
        main.main
            .greeting-section
                .greeting-section--red 
                    .greeting-header Кардан-сервис
                    .greeting-subheader Ремонт и изготовление карданных валов
                    a(href="#menu").greeting-more Узнать больше 
                .greeting-section--rest 
                    .greeting-square
                        .company-phone
                            .phone-header 
                                img(src="./assets/images/content/phoneCall.svg", alt="")
                                span Звоните нам
                            .phone-number +7 (3952) 66‑22-42
                        .company-adress
                            .adress-header 
                                img(src="./assets/images/content/mapMarker.svg", alt="")
                                span Мы здесь
                            .adress-number Г. ИРКУТСК, УЛ.СУРНОВА, 22/7
            .menu-section 
                .menu-header Услуги
                .menu-navigatiom
                    .navigation-tab.tab-cardan 
                        img.img-cardan.img-active(src="./assets/images/content/cardan.svg", alt="")
                        
                        .tab-header.tab-active Ремонт карданов
                    .navigation-tab.tab-turbo 
                        img.img-turbo(src="./assets/images/content/turbo.svg", alt="")
                        .tab-header Ремонт турбин
                    .navigation-tab.tab-rotor 
                        img.img-rotor(src="./assets/images/content/rotor.svg", alt="")
                        .tab-header Балансировка ротов
                    .navigation-tab.tab-treat 
                        img.img-treat(src="./assets/images/content/treat.svg", alt="")
                        .tab-header Механическая обработка
            .show-section 
            .offer-section 
            .apply-section
        footer.footer
        script(src="./assets/js/jquery.min.js")
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js")
                 
