doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./style.min.css")
        link(rel="shortcut icon", href="./assets/images/content/logo.png", type="image/x-icon")
        title Ремонт карданных валов
    body
        header.header 
            .header-logo
                 img(src="./assets/images/content/logo.png", alt="")
                 .logo-caption Turbo
            .header-navigation 
                a(href="./services.html").navigation-link Услуги
                a(href="./shop.html").navigation-link Магазин
                a(href="./contacts.html").navigation-link Контакты
            .header-custom
                .custom-cart
                    a.cart-image
                    span.cart-amount 0
                .custom-button Оставить заявку
        main.main
            .greeting-section
                .greeting-section--red 
                .greeting-section--rest 
            .menu-section 
            .show-section 
            .offer-section 
            .apply-section
        footer.footer
        script(src="./assets/js/jquery.min.js")
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js")
                 
