doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Кардан Сервис
        link(rel="shortcut icon", href="./assets/images/content/logo_custom.svg", type="image/x-icon")
        link(rel="stylesheet", href="./style.min.css")
    body 
        header.header 
            .logo-container
                a(href="#toMain") 
                    img.logo#toMain(src="./assets/images/content/logo_custom.svg", alt="Company Logo")
                span.logo-caption Кардан Сервис
            .navigation
                a.navigation-link(href="#toGreeting") Услуги
                a.navigation-link(href="#toProcess") Магазин
                a.navigation-link(href="#toAbilities") Контакты
            .contacts 
                a(href="tel:+74951864203") +7 (495) 186-42-03 
            .apply 
                .apply-btn#headerApply  Оставить заявку
        .mobile-header
            .logo-container
                a(href="#toMain") 
                    img.logo#toMain(src="./assets/images/content/main_logo.svg" alt="Company Logo")
                span.logo-caption Кардан Сервис
            .mobile-header__burger-menu
                span.cross-one--mobile 
                span.cross-two--mobile
                span.cross-left
        .mobile-menu#mobileNavigation
            .navigation
                a.navigation-link(href="#toGreeting") Услуги
                a.navigation-link(href="#toProcess") Магазин
                a.navigation-link(href="toAbilities") Контакты
        
            .contacts
                a(href="tel:+74951864203") +7 (495) 186-42-03
            .apply
                .apply-btn#headerApply Оставить заявку
        
        main.main 
            .section#toGreeting.section--greeting
                .greeting-container 
                    .greeting-header Cистема удаленного контроля объектов
                    .greeting-subheader ERP-система для автоматизации контроля объектов и автоматического расчета зарплаты сотрудников
                    .apply-btn.apply-btn--demo ПОЛУЧИТЬ ДЕМО-ДОСТУП
                .mobile-image 
                    img(src="./assets/images/content/main.png", alt="")
            .section#toBenefits.section--benefits
                .section-header Выгода от внедрения
                .section-container 
                    .image-pagination 
                        .image-toggler.image-toggler--active#image--toggle1
                            .image-toggler__container
                                .image-header Все в одном месте
                                .image-content Кукушка собирает данные о всех объектах, постах и сотрудниках 24/7
                            .image-toggler__icon    
                                img.image-icon(src="./assets/images/content/main_arrow.png")
                        .image-toggler#image--toggle1
                            .image-toggler__container
                                .image-header Экономит до 22% с зарплаты сотрудника
                                .image-content Кукушка вычитает время опозданий, прогулов и сумму штрафов из зарплаты сотрудников
                            .image-toggler__icon    
                                img.image-icon(src="./assets/images/content/main_coins.png")
                        .image-toggler#image--toggle1
                            .image-toggler__container
                                .image-header Повышает качество контроля объектов
                                .image-content За счет системы постоянного мониторинга, прогнозирования состояния объектов, награждения лучших сотрудников
                            .image-toggler__icon    
                                img.image-icon(src="./assets/images/content/main_loopa.png")
                    .image-presentation 
                        .image--toggle1.image-toggle--show 
                            img(src="./assets/images/content/main_screens.png", alt="Toggle 3")
                        .image--toggle2.image-toggle--hidden 
                            img(src="./assets/images/content/main_screens.png", alt="Toggle 3")
                        .image--toggle3.image-toggle--hidden
                            img(src="./assets/images/content/main_screens.png", alt="Toggle 3")
            .section#toProcess.section--process
                .section-header Как устроенна Кукушка?
                .section-container
                    .section-list#sectionList 
                        .list-item#firstListPoint
                            .item-counter 1
                            .item-value Профиль сотрудника
                        .list-item#secondListPoint
                            .item-counter 2
                            .item-value Заступление на объект
                        .list-item#thirdListPoint
                            .item-counter 3
                            .item-value Авторизация на объекте
                        .list-item#fourthListPoint
                            .item-counter 4
                            .item-value Проверка во время смены
                        .list-item#fifthListPoint
                            .item-counter 5
                            .item-value Мониторинг объекта
                    .section-menu#sectionMenu 
                        .menu-item 
                            .menu-item__header-container#firstMenuPoint
                                .menu-item__counter 1
                                .menu-item__header Профиль сотрудника
                            .menu-item__subheader Каждый сотрудник имеет личный ID для идентификации в Системе
                            .menu-item__image
                                    img(src="./assets/images/content/main__menu1.png", alt="")

                        .menu-item 
                            .menu-item__header-container#secondMenuPoint
                                .menu-item__counter 2
                                .menu-item__header Заступление на объект
                            .menu-item__subheader Сотрудник приходит на объект для начала рабочей смены 
                            .menu-item__image
                                    img(src="./assets/images/content/main__menu2.png", alt="")
                        .menu-item 
                            .menu-item__header-container#thirdMenuPoint
                                .menu-item__counter 3
                                .menu-item__header Авторизация на объекте
                            .menu-item__subheader Сотрудник звонит на единый номер Кукушки с номера телефона объекта и вводит свой ID для заступления на смену
                            .menu-item__image
                                    img(src="./assets/images/content/main__menu3.png", alt="")
                        .menu-item 
                            .menu-item__header-container#fourthMenuPoint
                                .menu-item__counter 4
                                .menu-item__header Проверка во время смены
                            .menu-item__subheader Во время смены сотрудника Кукушка периодически звонит на номер телефона объекта и проверяет сотрудника: задает ему различные вопросы, записывает голос, ведет диалог. Все данные записываются в Системе
                            .menu-item__image
                                    img(src="./assets/images/content/main__menu4.png", alt="")
                        .menu-item 
                            .menu-item__header-container#fifthMenuPoint
                                .menu-item__counter 5
                                .menu-item__header Мониторинг объекта
                            .menu-item__subheader Менеджеры видят состояние объектов и знают, как работают сотрудники и не дергают их. По окончании смены сотрудник звонит на единый номер с номера телефона объекта и вводит свой ID
                            .menu-item__image
                                    img(src="./assets/images/content/main__menu5.png", alt="")
            .section#toMenu.section--menu 
                .menu-header Услуги
                .menu-navigatiom
                    .navigation-tab.tab-cardan 
                        img.img-cardan.img-active(src="./assets/images/content/cardan.svg", alt="")
                        
                        .tab-header.tab-active Ремонт карданов
                    .navigation-tab.tab-turbo 
                        img.img-turbo(src="./assets/images/content/turbo.svg", alt="")
                        .tab-header Ремонт турбин
                    .navigation-tab.tab-rotor 
                        img.img-rotor(src="./assets/images/content/rotor.svg", alt="")
                        .tab-header Балансировка ротов
                    .navigation-tab.tab-treat 
                        img.img-treat(src="./assets/images/content/treat.svg", alt="")
                        .tab-header Механическая обработка
            .section#toShow.section--show
                .show--gray
                .show-container.show--cardan
                    .show-description 
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .show-box 
                        img(src="./assets/images/content/main-second.jpg", alt="").show-image
                        a(href="./cardan.html").show-more Узнать больше
            .section#toOffer.section--offer 
                .offer-header Что мы предлагаем
                .offer-subheader Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .offer-container 
                    .offer-row 
                        .offer-card 
                            .card-number 01
                            .card-header Заголовок
                            ul.card-list 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit
                            a(href="./cardan.html").card-more
                        .offer-image 
                        .offer-card 
                            .card-number 03
                            .card-header Заголовок
                            ul.card-list 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                            a(href="./cardan.html").card-more
                    .offer-row 
                        .offer-image 
                        .offer-card 
                            .card-number 02
                            .card-header Заголовок
                            ul.card-list 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit  
                            a(href="./cardan.html").card-more
                        .offer-image
        footer.footer#toFooter 
            .footer-row.footer-row--expanded 
                .logo-container
                    a(href="#toMain") 
                        img.logo#toMain(src="./assets/images/content/logo_custom.svg", alt="Company Logo")
                    span.logo-caption Кукушка
                .mobile-container.mobile-container--second-to-column
                    .navigation
                        a.navigation-link(href="#toGreeting") Услуги
                        a.navigation-link(href="#toBenefits") Магазин
                        a.navigation-link(href="") Контакты
                    .mobile-container.mobile-container--first-to-column
                        .contacts 
                            a(href="tel:+74951864203") +7 (495) 186-42-03 
                        .apply 
                            .apply-btn.apply-btn--footer ПОЛУЧИТЬ ДЕМО-ДОСТУП
            .footer-row 
                .company-info
                    span.company-name ©2019–2022 Кардан Сервис
                    span.company-privacy Политика конфиденциальности
                .developer-info Сделано в Freidman Solutions
        .dark-layer.js--hidden
            .form.apply-form#applyForm 
                .form-close#closeForm
                    span.cross-one 
                    span.cross-two
                .form-header Оставить заявку
                .form-subheader Начните автоматизацию прямо сейчас. Оставьте заявку и получите бесплатный демо-доступ к Кукушке
                label(for="userName") 
                    input.form-input#userName(type="text", name="userName", placeholder="ФИО")
                label(for="userPhone") 
                    input.form-input#userPhone(type="text", name="userName" ,placeholder="Телефон")
                label(for="userCompany") 
                    input.form-input#userCompany(type="text", name="userName" ,placeholder="Название компании")
                label(for="userArea") 
                    input.form-input#userArea(type="text", name="userName" ,placeholder="Область деятельности")
                
                button.form-button(type="submit") Отправить
                .form-caption Нажимая на кнопку “отправить”, вы даете согласие на обработку персональных данных
            .applied-screen.js--hidden#appliedForm
                .form-close#closeAppliedForm
                    span.cross-one 
                    span.cross-two
                img.applied-icon(src="./assets/images/content/main_applied.png", alt="Form Applied")
                .applied-header Заявка успешно отправлена!
                .applied-subheader 
                    | Мы свяжемся с вами в ближайшее время!
                    | По всем интересующим вопросам вы можете позвонить нам по телефону 
                    a(href="tel:+74951864203") +7 (495) 186-42-03
                .form-button.form-button--form#closeAppliedFormButton Вернуться на сайт
        script(src="./assets/js/jquery.min.js")
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js")