doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Кардан Сервис
        link(rel="shortcut icon", href="./assets/images/content/logo_custom.svg", type="image/x-icon")
        link(rel="stylesheet", href="./style.min.css")
    body 
        header.header 
            .logo-container
                a(href="#toMain") 
                    img.logo#toMain(src="./assets/images/content/logo_custom.svg", alt="Company Logo")
                span.logo-caption Кардан Сервис
            .navigation
                a.navigation-link(href="#toProcess") Услуги
                a.navigation-link(href="./shop.html") Магазин
                a.navigation-link(href="./contacts.html") Контакты
            .contacts 
                a(href="tel:+74951864203") +7 (495) 186-42-03 
            .apply 
                .apply-btn#headerApply  Оставить заявку
        .mobile-header
            .logo-container
                a(href="#toMain") 
                    img.logo#toMain(src="./assets/images/content/main_logo.svg" alt="Company Logo")
                span.logo-caption Кардан Сервис
            .mobile-header__burger-menu
                span.cross-one--mobile 
                span.cross-two--mobile
                span.cross-left
        .mobile-menu#mobileNavigation
            .navigation
                a.navigation-link(href="#toProcess") Услуги
                a.navigation-link(href="./shop.html") Магазин
                a.navigation-link(href="./contacts.html") Контакты
        
            .contacts
                a(href="tel:+74951864203") +7 (495) 186-42-03
            .apply
                .apply-btn#headerApply Оставить заявку
        
        main.main 
            .swiper#greetingSwiper 
                .swiper-wrapper 
                    .swiper-slide
                        .section#toGreeting.section--greeting
                            .greeting-container 
                                .greeting-header Ремонт и изготовление карданных валов
                                .greeting-subheader Наши специалисты выявят все дефекты и устранят их.
                                .apply-btn.apply-btn--demo Оставить заявку
                    .swiper-slide
                        .section#toGreeting.section--greeting
                            .greeting-container 
                                .greeting-header Ремонт Турбин
                                .greeting-subheader Наши специалисты выявят все дефекты и устранят их.
                                .apply-btn.apply-btn--demo Оставить заявку
                    .swiper-slide
                        .section#toGreeting.section--greeting
                            .greeting-container 
                                .greeting-header Техническая обработка
                                .greeting-subheader Наши специалисты выявят все дефекты и устранят их.
                                .apply-btn.apply-btn--demo Оставить заявку
                    .swiper-slide
                        .section#toGreeting.section--greeting
                            .greeting-container 
                                .greeting-header Ротор
                                .greeting-subheader Наши специалисты выявят все дефекты и устранят их.
                                .apply-btn.apply-btn--demo Оставить заявку
                .swiper-pagination 
                .swiper-button
                    .swiper-button-prev
                    .swiper-button-next
           
            
            .section#toOffer.section--offer 
                .offer-header Что мы предлагаем
                .offer-subheader Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .offer-container 
                    .offer-row 
                        .offer-card 
                            .card-number 01
                            .card-header Заголовок
                            ul.card-list 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit
                            a(href="./cardan.html").card-more
                        .offer-image 
                        .offer-card 
                            .card-number 03
                            .card-header Заголовок
                            ul.card-list 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                            a(href="./cardan.html").card-more
                    .offer-row 
                        .offer-image 
                        .offer-card 
                            .card-number 02
                            .card-header Заголовок
                            ul.card-list 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit 
                                li Lorem ipsum dolor sit  
                            a(href="./cardan.html").card-more
                        .offer-image
        footer.footer#toFooter 
            .footer-row.footer-row--expanded 
                .logo-container
                    a(href="#toMain") 
                        img.logo#toMain(src="./assets/images/content/logo_custom.svg", alt="Company Logo")
                    span.logo-caption Кардан Сервис
                .mobile-container.mobile-container--second-to-column
                    .navigation
                        a.navigation-link(href="#toProcess") Услуги
                        a.navigation-link(href="./shop.html") Магазин
                        a.navigation-link(href="./contacts.html") Контакты
                    .mobile-container.mobile-container--first-to-column
                        .contacts 
                            a(href="tel:+74951864203") +7 (495) 186-42-03 
                        .apply 
                            .apply-btn.apply-btn--footer Оставить заявку
            .footer-row 
                .company-info
                    span.company-name ©2019–2022 Кардан Сервис
                    span.company-privacy Политика конфиденциальности
                .developer-info Сделано в Freidman Solutions
        .dark-layer.js--hidden
            .form.apply-form#applyForm 
                .form-close#closeForm
                    span.cross-one 
                    span.cross-two
                .form-header Оставить заявку
                .form-subheader Начните ремонт прямо сейчас.
                label(for="userName") 
                    input.form-input#userName(type="text", name="userName", placeholder="ФИО")
                label(for="userPhone") 
                    input.form-input#userPhone(type="text", name="userName" ,placeholder="Телефон")
                //- label(for="userCompany") 
                //-     input.form-input#userCompany(type="text", name="userName" ,placeholder="Причина")
                //- label(for="userArea") 
                //-     input.form-input#userArea(type="text", name="userName" ,placeholder="Область деятельности")
                
                button.form-button(type="submit") Отправить
                .form-caption Нажимая на кнопку “отправить”, вы даете согласие на обработку персональных данных
            .applied-screen.js--hidden#appliedForm
                .form-close#closeAppliedForm
                    span.cross-one 
                    span.cross-two
                img.applied-icon(src="./assets/images/content/main_applied.png", alt="Form Applied")
                .applied-header Заявка успешно отправлена!
                .applied-subheader 
                    | Мы свяжемся с вами в ближайшее время!
                    | По всем интересующим вопросам вы можете позвонить нам по телефону 
                    a(href="tel:+74951864203") +7 (495) 186-42-03
                .form-button.form-button--form#closeAppliedFormButton Вернуться на сайт
        script(src="./assets/js/jquery.min.js")
        script(src="./assets/js/plugins.min.js")
        script(src="./assets/js/main.min.js")



        //- .section#toMenu.section--menu 
            //-     .menu-header Услуги
            //-     .menu-navigatiom
            //-         .navigation-tab.tab-cardan 
            //-             img.img-cardan.img-active(src="./assets/images/content/cardan.svg", alt="")
                        
            //-             .tab-header.tab-active Ремонт карданов
            //-         .navigation-tab.tab-turbo 
            //-             img.img-turbo(src="./assets/images/content/turbo.svg", alt="")
            //-             .tab-header Ремонт турбин
            //-         .navigation-tab.tab-rotor 
            //-             img.img-rotor(src="./assets/images/content/rotor.svg", alt="")
            //-             .tab-header Балансировка ротов
            //-         .navigation-tab.tab-treat 
            //-             img.img-treat(src="./assets/images/content/treat.svg", alt="")
            //-             .tab-header Механическая обработка
            //- .section#toShow.section--show
            //-     .show--gray
            //-     .show-container.show--cardan
            //-         .show-description 
            //-             span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
            //-             span Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            //-         .show-box 
            //-             img(src="./assets/images/content/main-second.jpg", alt="").show-image
            //-             a(href="./cardan.html").show-more Узнать больше