body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat";
    font-weight: 600;
    background-color: #1f1f1f;
    cursor: default;
}

a {
    color: #000;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 100px;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    &-logo {
        width: 250px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
            width: 50%;
            height: 50%;
            object-fit: contain;
            filter: invert(1);
        }
        .logo-caption {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 40px;
            color: $newblack;
            margin-left: 15px;
        }
    }
    &-navigation {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navigation-link {
            font-weight: 500;
            font-size: 24px;
            color: $newblack;
            transition: all 0.3s ease;
            &:hover {
                color: #bb240d;
            }
        }
    }
    &-custom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;
        // .custom-contact {
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     width: 80px;
        //     img {
        //         width: 30px;
        //         height: 30px;
        //         object-fit: contain;
        //     }
        //     .viber-image {
        //         width: 40px;
        //         height: 40px;
        //     }
        // }
        .custom-cart {
            display: flex;
            align-items: center;
            .cart-image {
                width: 40px;
                height: 40px;
                display: block;
                background-image: url(./assets/images/content/cart.svg);
                background-size: contain;
                margin-right: 5px;
            }
            .cart-amount {
                font-size: 15px;
                color: #bb240d;
                align-self: flex-start;
                font-weight: 700;
            }
        }
        .custom-button {
            background-color: #bb240d;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            height: 60px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: 30px;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .greeting-section {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        &--red {
            width: 40%;
            height: 100%;
            background-color: #bb240d;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: center;
            position: relative;
        }
        &--rest {
            width: calc(60% - 200px);
            height: calc(100% - 200px);
            background: linear-gradient(to top, #585858ba, #24212785), url(./assets/images/content/main-second.jpg);
            background-size: cover;
            background-position: 40% 50%;
            padding: 100px;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: end;
        }
        .greeting-header {
            font-size: 44px;
            color: #fff;
            position: absolute;
            right: 20px;
            top: 40%;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            font-weight: 400;
            text-transform: uppercase;
        }
        .greeting-subheader {
            font-size: 54px;
            font-weight: 500;
            text-transform: uppercase;
            color: #fff;
            position: absolute;
            width: 700px;
            left: 160px;
            top: 50%;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
        .greeting-more {
            border: 3px solid #fff;
            font-size: 24px;
            text-transform: uppercase;
            display: block;
            padding: 12px 30px;
            color: #fff;
            position: absolute;
            left: 160px;
            top: 55%;
            height: fit-content;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
        }
        .greeting-square {
            width: 250px;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            border: 3px solid #bb240d;
            border-left: none;
            position: relative;
            .company-phone,
            .company-adress {
                position: absolute;
                left: -50px;
                display: flex;
                flex-direction: column;
                align-items: start;
                width: 300px;
                justify-content: flex-start;
                margin-bottom: 15px;
                .phone-header,
                .adress-header {
                    color: #fff;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    img {
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                    }
                    span {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
                .phone-number,
                .adress-number {
                    font-size: 22px;
                    font-weight: 700;
                    color: #fff;
                    line-height: 30px;
                }
            }
            .company-phone {
                top: 15%;
            }
            .company-adress {
                top: 50%;
            }
        }
    }
    .menu-section {
        background-color: #1f1f1f;
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        .menu-header {
            width: calc(40% - 95px);
            align-items: center;
            justify-content: center;
            display: flex;
            height: 100%;
            background-color: #333;
            color: #fff;
            font-size: 36px;
            text-transform: uppercase;
            padding-right: 95px;
            position: sticky;
        }
        .menu-navigatiom {
            width: 60%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .navigation-tab {
                width: 24%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &:hover {
                    cursor: pointer;
                    .tab-header {
                        color: #bb240d !important;
                    }
                    img {
                        filter: invert(18%) sepia(75%) saturate(2224%) brightness(70%) contrast(107%);
                    }
                }
                img {
                    width: 50px;
                    height: 50px;
                    margin-bottom: 20px;
                    filter: hue-rotate(349deg);
                    transition: all 0.3s ease;
                }
                .img-treat {
                    width: 70px;
                    height: 70px;
                    margin-bottom: 5px;
                }
                .tab-header {
                    color: #fff;
                    text-align: center;
                    font-size: 16px;
                    transition: all 0.3s ease;
                }
                .img-active {
                    filter: invert(18%) sepia(75%) saturate(2224%) hue-rotate(349deg) brightness(70%) contrast(107%);
                }
                .tab-active {
                    color: #bb240d;
                }
            }
        }
    }
    .show-section {
        background-color: #fff;
        width: 100%;
        height: 100vh;
        display: flex;
        .show--gray {
            background-color: #333;
            width: 40%;
            height: 100%;
        }
        .show-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            width: calc(60% - 40px);
            height: calc(100% - 40px);
            .show-description {
                width: 45%;
                height: 100%;
                font-size: 22px;
                color: #1f1f1f;
                display: flex;
                flex-direction: column;
                align-items: start;
                span {
                    margin-bottom: 15px;
                }
            }
            .show-box {
                width: 45%;
                height: 100%;
                .show-image {
                    width: 100%;
                    height: 80%;
                    margin-bottom: 20px;
                }
                .show-more {
                    border: 3px solid #bb240d;
                    padding: 12px 20px;
                    font-size: 24px;
                    display: block;
                    padding: 12px 30px;
                    color: #bb240d;
                    height: fit-content;
                    text-align: center;
                }
            }
        }
    }
    .offer-section {
        padding: 60px;
        width: calc(100% - 120px);
        height: calc(110vh - 120px);
        background-color: #1f1f1f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .offer-header {
            font-size: 22px;
            color: #bb240d;
            margin-bottom: 20px;
        }
        .offer-subheader {
            font-size: 44px;
            color: #fff;
            margin-bottom: 50px;
            width: 50%;
        }
        .offer-container {
            width: auto;
            min-width: 1102px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            .offer-row {
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5px;
                .offer-card {
                    width: calc(33% - 40px);
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 40px;
                    align-items: start;
                    position: relative;
                    background-color: #333;
                    &:hover {
                        .card-number {
                            color: #bb240d;
                        }
                        .card-more {
                            background-color: #bb240d;
                        }
                    }
                    .card-number {
                        font-size: 88px;
                        color: #1f1f1f;
                        font-weight: 900;
                        margin-bottom: 15px;
                        transition: all 0.3s ease;
                    }
                    .card-header {
                        font-size: 28px;
                        color: #fff;
                        margin-bottom: 20px;
                    }
                    .card-list {
                        list-style: none;
                        li {
                            font-size: 18px;
                            font-weight: 500;
                            color: #fff;
                            margin-bottom: 10px;
                        }
                    }
                    .card-more {
                        background-color: #1f1f1f;
                        width: 40px;
                        height: 40px;
                        display: block;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        transition: all 0.3s ease;
                        &:after {
                            display: block;
                            content: "";
                            width: 15px;
                            height: 15px;
                            border-top: 1px solid #fff;
                            border-right: 1px solid #fff;
                            transform: rotate(45deg);
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
                .offer-image {
                    width: 33%;
                    height: 100%;
                    background-image: url(./assets/images/content/main-second.jpg);
                    background-size: cover;
                }
            }
        }
    }
    .apply-section {
        width: calc(100% - 340px);
        height: 320px;
        background-color: #bb240d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px 170px;
        .apply-container {
            width: 45%;
            .apply-header {
                font-size: 44px;
                color: #fff;
                font-weight: 800;
                margin-bottom: 20px;
            }
            .apply-subheader {
                font-size: 24px;
                color: #fff;
                font-weight: 400;
            }
        }
        .apply-form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__input {
                width: calc(33% - 40px);
                background-color: #fff;
                color: #bb240d;
                padding: 20px;
                border: none;
                outline: none;
                font-weight: 500;
                height: 10px;
                &::placeholder {
                    font-weight: 500;
                    color: #1f1f1f;
                }
            }
            &__button {
                width: calc(30%);
                background-color: #bb240d;
                font-weight: 800;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border: 3px solid #fff;
                color: #fff;
                text-transform: uppercase;
                padding: 0;
            }
        }
    }
}